body {
	margin:0 auto;
	padding:0;
	background:#e8e8e8;
	font-family: Verdana, Tahoma, Arial;
	font-size:12px;
	color:#666;
}

#BoxForm {
        position: absolute;
        left: 18%;
	margin:20px;
	padding:20px 20px 30px 20px;
	width:800px;
	height:auto;
	background:#fff;
	border:1px solid #dcdcdc;
	border-radius:10px;
}

fieldset {
  position: relative;
  float: left;
  clear: both;
  width: 100%;  
  margin: 1.5em 0 0 0;
  padding: 0 0 1em 0;
  border-style: none;
  border-top: 1px solid #BFBAB0;
}

legend {
  padding: 0;
  color: #000000;
  font-weight: bold;
}

legend span {
  position: absolute;
  margin-top: 1.25em;
  font-size: 135%;
}

fieldset ul {
  padding: 3.25em 1em 0 1em;
  list-style: none;
}

fieldset li {
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
}

label {
  
  width: 10em;
  margin-right: 1em;
  text-align: left;
}

.txt_grande {
  width: 400px;
}

.txt_medio {
  width: 300px;
}

.txt_pequeno {
  width: 100px;
}

label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
	color: red;    
}   